{% extends "base.html" %}

<!doctype html>

{% block title%} Output Preview {% endblock %}

{% block content %}

<table>
    <thead>

      <tr>
        {% for col in column_names %}
        <th>
        
          {{col}}
         
        </th>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
      </tr>
      {% endfor %}

     
    </tbody>

  </table>
<br>
<br>
<p> URL: {{ url }} </p>


{% endblock %}